In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [ ]:
df = pd.read_csv('/content/bank.csv')

In [ ]:
df.head()

   age         job  marital  education  ... pdays  previous poutcome deposit
0   59      admin.  married  secondary  ...    -1         0  unknown     yes
1   56      admin.  married  secondary  ...    -1         0  unknown     yes
2   41  technician  married  secondary  ...    -1         0  unknown     yes
3   55    services  married  secondary  ...    -1         0  unknown     yes
4   54      admin.  married   tertiary  ...    -1         0  unknown     yes

[5 rows x 17 columns]

In [ ]:
df['poutcome'].value_counts()

unknown    8326
failure    1228
success    1071
other       537
Name: poutcome, dtype: int64

In [ ]:
df['loan'].value_counts()

no     9702
yes    1460
Name: loan, dtype: int64

In [ ]:
df.drop(['education','day','contact','month'],axis=1, inplace=True)

In [ ]:
df.head()

   age         job  marital default  ...  pdays previous poutcome  deposit
0   59      admin.  married      no  ...     -1        0  unknown      yes
1   56      admin.  married      no  ...     -1        0  unknown      yes
2   41  technician  married      no  ...     -1        0  unknown      yes
3   55    services  married      no  ...     -1        0  unknown      yes
4   54      admin.  married      no  ...     -1        0  unknown      yes

[5 rows x 13 columns]

In [ ]:
feat = ['job', 'marital','housing','poutcome','loan','default']

In [ ]:
neu = ['balance','duration','pdays','campaign', 'previous' ]

In [ ]:
sc = StandardScaler()

In [ ]:
df[neu] = sc.fit_transform(df[neu])

In [ ]:
df.head()

   age         job  marital default  ...     pdays previous poutcome  deposit
0   59      admin.  married      no  ... -0.481184 -0.36326  unknown      yes
1   56      admin.  married      no  ... -0.481184 -0.36326  unknown      yes
2   41  technician  married      no  ... -0.481184 -0.36326  unknown      yes
3   55    services  married      no  ... -0.481184 -0.36326  unknown      yes
4   54      admin.  married      no  ... -0.481184 -0.36326  unknown      yes

[5 rows x 13 columns]

In [ ]:
df = pd.get_dummies(df, columns= feat)

In [ ]:
df.head()

   age   balance  duration  ...  loan_yes  default_no  default_yes
0   59  0.252525  1.930226  ...         0           1            0
1   56 -0.459974  3.154612  ...         0           1            0
2   41 -0.080160  2.929901  ...         0           1            0
3   55  0.293762  0.596366  ...         0           1            0
4   54 -0.416876  0.867171  ...         0           1            0

[5 rows x 32 columns]

In [ ]:
df['deposit'] = df['deposit'].map({'yes':1, 'no':0})

In [ ]:
df.head()

   age   balance  duration  ...  loan_yes  default_no  default_yes
0   59  0.252525  1.930226  ...         0           1            0
1   56 -0.459974  3.154612  ...         0           1            0
2   41 -0.080160  2.929901  ...         0           1            0
3   55  0.293762  0.596366  ...         0           1            0
4   54 -0.416876  0.867171  ...         0           1            0

[5 rows x 32 columns]

In [ ]:
df['target'] = df['deposit']
df.drop(['deposit'], axis=1, inplace= True)

In [ ]:
X = df.iloc[:,:-1]
y = df.iloc[:,-1]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.3)

In [ ]:
dt = DecisionTreeClassifier()

In [ ]:
dt.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [ ]:
pred = dt.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, pred))

[[1320  462]
 [ 442 1125]]

In [ ]:
lm = LogisticRegression()

In [ ]:
lm.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
lm_pred = lm.predict(X_test)

In [ ]:
print(confusion_matrix(y_test, lm_pred))

[[1502  250]
 [ 468 1129]]